@model IEnumerable<Proyecto.Models.Equipo>

@{
    ViewBag.Title = "Lista de Equipos";
}

<body onload="Desabilitar();">
    <h2> @ViewBag.Title </h2>
    @**@

    @*Genera una dropdown list con todos los proyectos*@

    @*DROPDOWN LIST QUE LLAMA A METODO POST INDEX EN CONTROLLER*@
    @using (Html.BeginForm())
    {
        <fieldset>
            <div class="Cliente Desarrollador display-label ">
                Filtrar por Proyecto
            </div>
            <div class="Cliente Desarrollador">
                @if (TempData["proyectos"] != null)
                {
                    @Html.DropDownList("filtro", new SelectList(TempData["proyectos"] as List<Proyecto.Models.Proyecto>, "nombre", "nombre"), "----------")
                }
                <p>
                    <input type="submit" value="Buscar" class="btn btn-default" />

                </p>
            </div>

        </fieldset>
    }

    <p class="botones text-right ">
        <button style="background:transparent;" onclick="myFunction();">Borrar</button>
        <button onclick="location.href ='@Url.Action("AsignarLider")'" class="btn btn-default btn-large Lider Desarrollador Cliente ">Asignar Lider</button>
        <button onclick="location.href ='@Url.Action("AsignarMiembros")'" class="btn btn-default btn-large  Desarrollador Cliente ">Asignar Miembros</button>
    </p>

    <br />
    <br />

    <Script type="text/javascript">
        function myFunction() //este nombre tiene que coincidir con el que se pone en el boton que lo llama
        {
            var opcion = confirm("Esta seguro que desea eliminar este equipo?");
            if (opcion)
            {
                var p = document.getElementById('filtro'); //Aqui es para conseguir el proyecto del dropdown
                var project = p.options[p.selectedIndex].value; //para sacar el valor 
                console.log(project); //para ver si todo bien con esa variable
                $.ajax(
                {
                    type: "post",
                    dataType: "json", //es el tipo del dato que devuelve el metodo del controlador 
                    url: '@Url.Action("Eliminar","Equipo")', //metodo del controlador que se llama
                    traditional: true, //para permitir arrays
                    async: false,
                    //Notese que los nombres Miembros y Proyecto tienen que conincidir con los nombres de los parametros en el metodo del controlador 
                    data:
                    {
                        Proyecto: project
                    },
                    success: function (json) //si todo sale bien el json que se retorna en el controlador viene aqui
                    {
                        if (json.error)
                            alert("Seleccione el proyecto al cual desea eliminar el equipo");
                        if (json.isRedirect)
                            window.location.href = json.redirectUrl;
                    },
                    error: function (errorList) //si pasa algun error
                    {
                        console.log(errorList);
                        console.log("error")
                    }
                })
            }    
        }

    </script>


    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.cedulaEM_FK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpleadoDesarrollador.nombreED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol)
            </th>
        </tr>


        @foreach (var item in Model)
        {
        <tr>

            <td>
                @*  @Html.ActionLink(item.cedulaEM_FK, "Details", new { id = item.Id, nombreProy = item.NombreProy }, null)*@
                @Html.DisplayFor(modelItem => item.cedulaEM_FK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpleadoDesarrollador.nombreED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
        </tr>
        }
    </table>

    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                 lista[i].setAttribute('readonly', 'readonly');
                 lista[i].hidden = true;
            }
            if (rol == "Cliente" || rol == "Desarrollador") {
                alert("Lo sentimos, no cuenta con los permisos necesarios para ejecutar esta acción");
            }
        }
    </Script>
</body>







