@model IEnumerable<Proyecto.Models.Equipo>

@{
    ViewBag.Title = "Lista de Equipos";
}

<body onload="Desabilitar();">
    <h2> @ViewBag.Title </h2>
    @**@

    @*Genera una dropdown list con todos los proyectos*@

    @*DROPDOWN LIST QUE LLAMA A METODO POST INDEX EN CONTROLLER*@
    @using (Html.BeginForm())
    {
        <fieldset>
            <div class="display-label">
                Filtrar por Proyecto
            </div>
            <td>
                @if (TempData["proyectos"] != null)
                {
                    @Html.DropDownList("filtro", new SelectList(TempData["proyectos"] as List<Proyecto.Models.Proyecto>, "nombre", "nombre"), "----------")
                }
            </td>
            <p>
                <input type="submit" value="Buscar" class="btn btn-default" />
            </p>
        </fieldset>
    }

    <p class="botones text-right ">
        <button onclick="location.href ='@Url.Action("AsignarLider")'" class="btn btn-default btn-large Lider Desarrollador Cliente ">Asignar Lider</button>
        <button onclick="location.href ='@Url.Action("AsignarMiembros")'" class="btn btn-default btn-large Lider Desarrollador Cliente ">Asignar Miembros</button>
    </p>

    <br />
    <br />

    



    <table class="table table-responsive-md">

        <thead class="thead-light">
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody id="asignacion" style="cursor:pointer;">
            @*Id que identifica en los scripts de arriba*@
            @*Lista de la derecha de los empleados que ya estan asignados a un proyecto*@
            @if (@ViewBag.empleados != null)
            {
                <ul>
                @foreach (var empleado in @ViewBag.empleados)
                {
                    <li>@empleado.cedulaED</li>
                    <li>@empleado.nombreED</li>
                    if (@empleado.cedulaED == @ViewBag.Lider)
                    {
                          <li>Lider</li>
                    }
                    else
                    {
                         <li>Desarrollador</li>
                    }
                }
                 </ul>
            }
        </tbody>
    </table>

    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].hidden = true;
            }
        }
    </script>
</body>







