@model Proyecto.Models.Modulo
@{
    ViewBag.Title = "Editar";
}
<h2>  @ViewBag.Title </h2>
@*No se si sera Moduloe o Modulo*@
@*
    @using (Html.BeginForm("Edit", "Moduloe", FormMethod.Post))
    {
        <p>Title: @Html.TextBox("cosa1")<br/>@*Cajita de texto
        <input type="submit" value="botonmieo"/></p>@*boton q no hace nada
    }

        <div>
            @Html.ActionLink("Aceptar", "Index", null, new { @class = "btn btn-success btn-large" })
        </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Modulo</h4>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Id,"", new { @class = "text-danger" })
        </div>
    </div> 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aceptar" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger btn-large" })
        </div>
    </div>
</div>
}
