@model IEnumerable<Proyecto.Models.Modulo>
@*@{Html.RenderPartial("Proyecto", Model);} *@
@{
    /**/

    ViewBag.Title = "Modulos";
}
<h2> Modulos </h2>

<h6>Seleccione Proyecto</h6>
@*
@Html.DropDownList("Seleccione Proyecto",
                    new SelectList(Proyecto.Models.Proyecto p),
                    "Proyectos",
                    new { @class = "form-control" })
*@



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                <!--ActionLink(como quiero que se llame, A donde va el link, id del respectivo objeto) -->
                @Html.ActionLink("Consultar", "Details", new { id = item.Nombre }) |

                @Html.ActionLink("Editar", "Edit", new { id = item.Nombre }) |

                @Html.ActionLink("Crear", "Create", new { id = item.Nombre }) |
            </td>
        </tr>
    }
</table>


<!--Esta es la segunda tabla  -->

<h6>Modulos dentro de este:</h6>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
        </tr>

    }
</table>
