@model IEnumerable<Proyecto.Models.Modulo>
@*@{Html.RenderPartial("Proyecto", Model);} *@
@{


    ViewBag.Title = "Modulos";
}
<h2> Modulos </h2>
@*
<h6>Seleccione Proyecto</h6>

@Html.DropDownList("Seleccione Proyecto",
                    new SelectList(Model),
                    "Proyectos",
                    new { @class = "form-control" })
*@



<br />
<br />

@*Falta agregar un filtro por proyecto*@



@Html.ActionLink("Crear modulo Nuevo", "Create", "Moduloe",null)
<br />
<br />

@*Tabla de Modulos*@
<h6>Seleccione un Modulo</h6>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProy)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProy)
            </td>
            <td>
                <!--ActionLink(como quiero que se llame, A donde va el link, controllador,dato que quiero pasar) -->
                @Html.ActionLink("Consultar", "Details", "Moduloe", new { id = item.Id, nombreProy = item.NombreProy },null)|

                @Html.ActionLink("Editar", "Edit", "Moduloe", new { id = item.Id, nombreProy = item.NombreProy },null)

            </td>
        </tr>
    }
</table>


<!--Esta es la segunda tabla  -->
@*
    <h6>Modulos dentro de este:</h6>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
            </tr>

        }
    </table>
*@
