@model Proyecto.Models.Requerimiento

@{
    ViewBag.Title = "Editar Requerimiento";
    
}



<body onload="Desabilitar();">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="container-fluid text-center">
        <h2>@ViewBag.Title</h2>
        <h4>@ViewBag.nombre</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.nombreProyecto_FK)

        @Html.HiddenFor(model => model.idModulo_FK)
 @Html.HiddenFor(model => model.nombre)@*Debo ver el nombre donde estoy y debe ser solo lectura*@








        <table class="d-flex justify-content-center">
            <tbody>
                <tr>
                    <th>
                        Seleccione Modulo*
                    </th>
                    <td required="true">

                        @if (TempData["Modulos"] != null)
                        {
                            @Html.DropDownList("modulos", new SelectList(TempData["Modulos"] as List<string>))
                        }
                    </td>
                </tr>

                <tr>
                    <th>
                        Seleccione Estado
                    </th>
                    <td required="true">

                        @if (TempData["Estado"] != null)
                        {
                            @Html.DropDownList("estado", new SelectList(TempData["Estado"] as List<string>))
                        }
                    </td>
                </tr>

                <tr>
                    <th>
                        Seleccione Complejidad
                    </th>
                    <td required="true">

                        @if (TempData["Complejidad"] != null)
                        {
                            @Html.DropDownList("complejidad", new SelectList(TempData["Complejidad"] as List<string>))
                        }
                    </td>
                </tr>
                <tr>
                    <th>
                        Duracion Estimada
                    </th>
                    <td required="true">
                        @Html.EditorFor(model => model.duracionEstimada, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.duracionEstimada, "", new { @class = " Desarrollador text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>
                        Duracion Real
                    </th>
                    <td>
                        @Html.EditorFor(model => model.duracionReal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.duracionReal, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>
                        Empleado Responsable
                    </th>
                    <td>

                        @if (TempData["Responsables"] != null)
                        {
                            @Html.DropDownList("responsable", new SelectList(TempData["Responsables"] as List<string>))
                        }
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

        <div class="botones text-center">
            <input type="submit" value="Aceptar" class="btn btn-success text-center" />
            <a href="~/Requerimiento/Index" class="btn btn-default text-center">
                Regresar
            </a>

        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].disabled = true;
            }
        }
    </script>
</body>
