@model IEnumerable<Proyecto.Models.Requerimiento>

@{
    ViewBag.Title = "Index";
}






<script src = "~/Scripts/jquery-1.10.2.js" > </script> 
<script>
    $(document).ready(function() {
        $("#nombreModulo").prop("disabled", true);

        $("#nombreProyecto").change(function () {

            if ($("#nombreProyecto").val() != "Seleccione un Proyecto") {

                var ModulosProyecto = {};

                ModulosProyecto.url = "/Requerimiento/getModulos";
                ModulosProyecto.type = "POST";
                ModulosProyecto.data = JSON.stringify({
                    nombreProyecto: $("#nombreProyecto").val()
                });
                ModulosProyecto.datatype = "json";
                ModulosProyecto.contentType = "application/json";
                ModulosProyecto.success = function(data) {

                    $("#nombreModulo").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#nombreModulo").append("<option>" + data[i].Text + "</option>");
                    }
                    $("#nombreModulo").prop("disabled", false);
                };

                ModulosProyecto.error = function () {
                    alert("Error obteniendo los modulos");
                };

                $.ajax(ModulosProyecto);
            } else {
                $("#nombreModulo").empty();
                $("#nombreModulo").prop("disabled", true);
            }
        });
    }); 
</script>





<body onload="Desabilitar();">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    
        <fieldset>
            <div class="display-label">
                Filtrar por Proyecto
            </div>
            <div class="editor-field">
                <form action="/Requerimiento/Index" method="post">
                    @if ((string)System.Web.HttpContext.Current.Session["rol"] == "Cliente")
                    {
                        @Html.DropDownList("nombreProyecto", ((Proyecto.Controllers.RequerimientoController)this.ViewContext.Controller).getProyectos("Cliente", (string)System.Web.HttpContext.Current.Session["cedula"]), "Seleccione un Proyecto", new { name = "nombreProyecto" })
                    }
                    else if ((string)System.Web.HttpContext.Current.Session["rol"] == "Jefe")
                    {
                        @Html.DropDownList("nombreProyecto", ((Proyecto.Controllers.RequerimientoController)this.ViewContext.Controller).getProyectos("Jefe", (string)System.Web.HttpContext.Current.Session["cedula"]), "Seleccione un Proyecto", new { name = "nombreProyecto" })
                    }
                    else
                    {
                        @Html.DropDownList("nombreProyecto", ((Proyecto.Controllers.RequerimientoController)this.ViewContext.Controller).getProyectos("Empleado", (string)System.Web.HttpContext.Current.Session["cedula"]), "Seleccione un Proyecto", new { name = "nombreProyecto" })
                    }

                    <div class="col-md-10"> <select id="nombreModulo" name="nombreModulo">Seleccione Modulo</select> </div>
                    <p>
                        <input type="submit" value="Buscar" class="btn btn-default" />
                    </p>
                </form>
            </div>
            
        </fieldset>



<p class=" boton float-right">
    <button onclick="location.href = 'Requerimiento/Create'" class="btn btn-success Lider Desarrollador Cliente btn-lg glyphicon glyphicon-plus float-right "></button>
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complejidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedulaResponsable_FK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modulo.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.complejidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cedulaResponsable_FK)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Modulo.Nombre)
            </td>*@
            <td>
                @Html.ActionLink(" ", "Edit", "Requerimiento", new { /*id = item.nombre, modulo = item.idModulo_FK, nombreProy = item.nombreProyecto_FK*/ }, new { @class = "btn  Cliente btn-info glyphicon glyphicon-wrench float-right " })

                @Html.ActionLink(" ", "Delete", "Requerimiento", new { /*id = item.nombre, modulo = item.idModulo_FK, nombreProy = item.nombreProyecto_FK*/ }, new { @class = "btn Desarrollador Cliente btn-danger glyphicon glyphicon-trash float-right " })
            </td>
        </tr>
    }

</table>

<script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].hidden = true;
            }
        }
</script>
</body>