@model Proyecto.Models.Habilidades

@{
    /**/

    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid text-center">
        <h2>Agregar Habilidad</h2>
        <hr />

        <table class="d-flex justify-content-center">
            <tbody>
                <tr style="line-height:40px">
                    <th>
                        Nombre:
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.EmpleadoDesarrollador.nombreED)
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container-fluid text-center">
            <br>

            <div class="d-flex justify-content-center">
                @Html.LabelFor(model => model.conocimientos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="d-flex justify-content-center" required>
                    @Html.EditorFor(model => model.conocimientos, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.conocimientos, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>


    </div>
}


