@model Proyecto.Models.Proyecto

@{
    ViewBag.Title = "Delete";
}


<div class="container-fluid text-center">
    <h2>Eliminar Proyecto</h2>
    <h3 style="color:#FF0000" ;> ¿Está seguro que desea eliminar este Proyecto?</h3>

    <table class="d-flex justify-content-center">
        <tbody>
            <tr>
                <th>
                    Nombre
                </th>

                <th>
                    @Html.DisplayFor(model => model.nombre)
                </th>
            </tr>

            <tr>
                <th>
                    Objetivo
                </th>

                <th>
                    @Html.DisplayFor(model => model.objetivo)
                </th>
            </tr>

            <tr>
                <th>
                    Fecha de Inicio
                </th>

                <th>
                    @Html.DisplayFor(model => model.fechaInicio)
                </th>
            </tr>

            <tr>
                <th>
                    Nombre de Cliente
                </th>

                <th>
                    @Html.DisplayFor(model => model.Cliente.nombre)
                </th>
            </tr>

            <tr>
                <th>
                    Duración Estimada
                </th>

                <th>
                    @Html.DisplayFor(model => model.duracionEstimada)
                </th>
            </tr>

            <tr>
                <th>
                    Costo de Trabajo
                </th>

                <th>
                    @Html.DisplayFor(model => model.costoTrabajo)
                </th>
            </tr>

            <tr>
                <th>
                    Costo Estimado
                </th>

                <th>
                    @Html.DisplayFor(model => model.costoEstimado)
                </th>
            </tr>

            <tr>
                <th>
                    Fecha de Finalización
                </th>

                <th>
                    @Html.DisplayFor(model => model.fechaFinalizacion)
                </th>
            </tr>
        </tbody>
    </table>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="botones text-center">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a href="~/Proyecto/Index" class="btn btn-success">
            Cancelar
        </a>
    </div>



}
</div>