@model Proyecto.Models.Proyecto

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de Proyecto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Objetivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetivo)
        </dd>

        <dt>
            Nombre de Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>

        <dt>
            Fecha de Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            Duración Estimada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracionEstimada)
        </dd>

        <dt>
            Costo de Trabajo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoTrabajo)
        </dd>

        <dt>
            Costo Estimado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoEstimado)
        </dd>

        <dt>
            Fecha de Finalización
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinalizacion)
        </dd>


    </dl>
</div>

<p class=" boton">
    <a href="~/Proyecto/Index" class="btn btn-default ">
        <span></span> Regresar
    </a>
</p>
