@model Proyecto.Models.Proyecto

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid text-center">
        <h2>Editar Proyecto</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="d-flex justify-content-center">
            <tbody>
                <tr>
                    <th>
                        Nombre Proyecto *
                    </th>

                    <td required="true">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <th>
                        Objetivo *
                    </th>

                    <td required="true">
                        @Html.TextAreaFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control ", required = "required" }, style = "width: 300px; height: 10em" })
                        @Html.ValidationMessageFor(model => model.objetivo, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <th>
                        Fecha de inicio *
                    </th>
                    <td required="true">
                        @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <th>
                        Nombre de Cliente *
                    </th>

                    <td>
                        @Html.DropDownList("cedulaCliente", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cedulaCliente, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>
                        Duración Estimada
                    </th>

                    <td>
                        @Html.EditorFor(model => model.duracionEstimada, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.duracionEstimada, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <th>
                        Costo de Trabajo
                    </th>

                    <td>
                        @Html.EditorFor(model => model.costoTrabajo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.costoTrabajo, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <th>
                        Costo Estimado
                    </th>
                    <td>
                        @Html.EditorFor(model => model.costoEstimado, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.costoEstimado, "", new { @class = "text-danger" })
                    </td>
                </tr>


                <tr>
                    <th>
                        Fecha de Finalización
                    </th>

                    <td>
                        @Html.EditorFor(model => model.fechaFinalizacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fechaFinalizacion, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <div class="botones text-center">
        <input type="submit" value="Aceptar" class="btn btn-success text-center" />
        <a href="~/Proyecto/Index" class="btn btn-default text-center">
            Regresar
        </a>

    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
