@model Proyecto.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid text-center">
    <h2>Detalles del Cliente</h2>

    <table class="d-flex justify-content-center">
        <tbody>
            <tr>
                <th>
                    Cédula
                </th>

                <td>
                    @Html.DisplayFor(model => model.cedula)
                </td>
            </tr>

            <tr>
                <th>
                    Nombre
                </th>

                <td>
                    @Html.DisplayFor(model => model.nombre)
                </td>
            </tr>

            <tr>
                <th>
                    Primer apellido
                </th>

                <td>
                    @Html.DisplayFor(model => model.apellido1)
                </td>
            </tr>

            <tr>
                <th>
                    Segundo apellido
                </th>

                <td>
                    @Html.DisplayFor(model => model.apellido2)
                </td>
            </tr>

            <tr>
                <th>
                    Teléfono
                </th>

                <td>
                    @Html.DisplayFor(model => model.telefono)
                </td>
            </tr>

            <tr>
                <th>
                    Provincia
                </th>

                <td>
                    @Html.DisplayFor(model => model.provincia)
                </td>
            </tr>

            <tr>
                <th>
                    Cantón
                </th>

                <td>
                    @Html.DisplayFor(model => model.canton)
                </td>
            </tr>

            <tr>
                <th>
                    Distrito
                </th>

                <td>
                    @Html.DisplayFor(model => model.distrito)
                </td>
            </tr>

            <tr>
                <th>
                    Dirección Exacta
                </th>

                <td>
                    @Html.DisplayFor(model => model.direccionExacta)
                </td>
            </tr>
        </tbody>
    </table>

    <p class=" boton">
        <a href="~/Cliente/Index" class="btn btn-default ">
            <span></span> Regresar
        </a>
    </p>
</div>



