@model Proyecto.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Consultar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Cédula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Primer apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            Segundo apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Provincia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>


        <dt>
            Cantón
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            Distrito
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>

        <dt>
            Dirección Exacta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionExacta)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Aceptar", "Index")
</p>
