@model IEnumerable<Proyecto.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<body onload="Desabilitar();">
  
    <div class=" Container" align-items-center>
        <h2>Lista de clientes</h2>
        <p class=" boton float-right">
            <button onclick="location.href = 'Cliente/Create'" class="btn btn-success Lider Desarrollador Cliente btn-lg glyphicon glyphicon-plus float-right "></button>
        </p>

        <table class="table">
            <tr>
                <th>
                    Cédula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Primer Apellido
                </th>
                <th>
                    Segundo apellido
                </th>
                <th>
                    Teléfono
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.cedula, "Details", new { id = item.cedula })
                    </td>
                    <td>
                        @Html.ActionLink(item.nombre, "Details", new { id = item.cedula })
                    </td>
                    <td>
                        @Html.ActionLink(item.apellido1, "Details", new { id = item.cedula })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>

                    <td>
                        <p class="botones">
                            <button onclick="location.href ='@Url.Action(item.cedula, "Cliente/Edit")'"  class="btn Lider Desarrollador Cliente btn-info glyphicon glyphicon-wrench float-right "></button>
                            <button onclick="location.href = '@Url.Action(item.cedula, "Cliente/Delete")'" class="btn  Lider Desarrollador Cliente btn-danger glyphicon glyphicon-trash float-right "></button>
                        </p>
                    </td>
                    </tr>
            }

        </table>

    </div>

    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                 lista[i].setAttribute('readonly', 'readonly');
                 lista[i].hidden = true;
            }
        }
    </script>

       
</body>
