@model IEnumerable<Proyecto.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de clientes</h2>

<p class=" boton btn btn-success btn-lg float-right" href="Create">
    @Html.ActionLink("+", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Primer Apellido
        </th>
        <th>
            Segundo apellido
        </th>
        <th>
           Teléfono
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccionExacta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.canton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provincia)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.cedula }) |
            @Html.ActionLink("Consultar", "Details", new { id=item.cedula }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.cedula })
        </td>
    </tr>
}

</table>
