@model Proyecto.Models.EmpleadoDesarrollador


@{
                /**/

                ViewBag.Title = "Details";
}

<div class="container-fluid text-center">
    <h2>Detalles de Empleado</h2>
    <h3 style="color:#FF0000" ;> ¿Está seguro que desea eliminar este Proyecto?</h3>

    <table class="d-flex justify-content-center">
        <tbody>
            <tr>
                <th>
                    Cédula
                </th>

                <td>
                    @Html.DisplayFor(model => model.cedulaED)
                </td>
            </tr>

            <tr>
                <th>
                    Nombre
                </th>

                <td>
                    @Html.DisplayFor(model => model.nombreED)
                </td>
            </tr>

            <tr>
                <th>
                    Primer apellido
                </th>

                <td>
                    @Html.DisplayFor(model => model.apellido1ED)
                </td>
            </tr>

            <tr>
                <th>
                    Segundo apellido
                </th>

                <td>
                    @Html.DisplayFor(model => model.apellido2ED)
                </td>
            <tr>
                <th>
                    Fecha de Nacimiento
                <th>

                <td>
                    @Html.DisplayFor(model => model.fechaNacimiento)
                <td>
            <tr>
                <th>
                    Edad
                </th>

                <td>
                    @Html.DisplayFor(model => model.edad)
                <td>
            <tr>
                <th>
                    Teléfono
                </th>

                <td>
                    @Html.DisplayFor(model => model.telefono)
                </td>
            <tr>
                <th>
                    Correo
                <th>
                <td>
                    @Html.DisplayFor(model => model.correo)
                <td>
            <tr>
                <th>
                    Provincia
                </th>

                <td>
                    @Html.DisplayFor(model => model.provincia)
                </td>
            </tr>

            <tr>
                <th>
                    Cantón
                </th>

                <td>
                    @Html.DisplayFor(model => model.canton)
                </td>
            </tr>

            <tr>
                <th>
                    Distrito
                </th>

                <td>
                    @Html.DisplayFor(model => model.distrito)
                </td>
            </tr>

            <tr>
                <th>
                    Dirección Exacta
                </th>

                <td>
                    @Html.DisplayFor(model => model.direccionExacta)
                </td>
            </tr>

            <tr>
                <th>
                    Disponibilidad
                <th>

                <td>
                    @Html.DisplayFor(model => model.disponibilidad)
                <td>
            </tr>
            <tr>
                <th>
                    Rol
                <th>
                    @* @if(model => model.flg == true){

                        }else{

                        }*@
                <td>
                    @Html.DisplayFor(model => model.flg)
                <td>
            </tr>
        </tbody>
    </table>
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="botones text-center">
            <input type="submit" value="Eliminar" class="btn btn-danger" style="margin: 20px" />
            <a href="~/EmpleadoDesarrollador/Index" class="btn btn-success ">
                <span></span> Cancelar
            </a>
        </div>
    }








