@model Proyecto.Models.EmpleadoDesarrollador



<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar este empleado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cédula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedulaED)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreED)
        </dd>

        <dt>
            Primer Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1ED)
        </dd>

        <dt>
            Segundo Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2ED)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            Edad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            Provincia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>


        <dt>
            Cantón
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            Distrito
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>


        <dt>
            Dirección Exacta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionExacta)
        </dd>


        <dt>
            Fecha de Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            Disponibilidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilidad)
        </dd>

        <dt>
            Lider?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flg)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a href="../Index" class="btn btn-success ">
                <span></span> Cancelar
            </a>
    </div>
    }
</div>
    
    





