@model Proyecto.Models.EmpleadoDesarrollador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmpleadoDesarrollador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1ED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1ED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2ED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2ED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponibilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionExacta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionExacta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cedulaED }) |
    @Html.ActionLink("Back to List", "Index")
</p>
