@model IEnumerable<Proyecto.Models.EmpleadoDesarrollador>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Empleados</h2>
<p class=" boton">
    <a href="Create" class="btn btn-success btn-lg float-right ">
        <span class="glyphicon glyphicon-plus"></span> +
    </a>
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.nombreED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido1ED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido2ED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccionExacta)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido1ED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido2ED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccionExacta)
        </td>
        <td>

            @Html.ActionLink("Editar", "Edit", new { id = item.cedulaED, @class = "glyphicon-trash" }) |
            @Html.ActionLink("Consultar", "Details", new { id = item.cedulaED }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.cedulaED })
        </td>
    </tr>
    }

</table>
